@charset "utf-8";
/*全体*/
html {
    font-size: 1.2em;
    font-family: 'Noto Sans JP', sans-serif !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

/*汎用*/

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.m-2{
    margin: 2em;
}

.wrap{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
    margin-top:-8em;
    padding-top:8em;
}

.m-0-auto{
    margin: 0 auto;
}

/*ヘッダー*/
header {
    width:100%;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
}

header img{
    width: 5em;
    height: 5em;
    margin: 1em;
}

header ul{
    width: 100%;
    justify-content: end;
}

header li{
    margin: 0 2em;
}

/*メイン*/
main img{
    height: 100%;
    width: 100%;
}

/*About*/
#About{
    margin-top:-8em;
    padding-top:8em;
}

/*Instructor*/
#Instructor img{
    height: 18em;
    margin: 0 5em;
}

.yunan{
    justify-content: center;
}

.explanation{
    width: 20em;
}

/*Lesson*/
.schedule{
    justify-content: center;
}
.schedule span{
    margin-left: 1em;
}

/*Accsess*/
.map{
    justify-content: space-around;
}
iframe{
    width:25em;
    height:20em; 
}

/*Contact*/
#Contact img{
    width: 2em;
    margin: 1.5em;
}
.sns{
    justify-content: center;

}

/*Covid*/
.measures{
   width: 25em;
}

#Covid li {
   list-style: square;
}
/*フッター*/
footer{
    padding: 2em 0;
    background-color: black;
    color: #fff;
}

footer a {
    color: #fff;
}

.top{
    padding-top: 8em;
}

/*ご利用規約*/
.guide{
    width: 80%;
    margin: 0 auto;
}

/*レスポンシブ対応*/
@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    font-size: 1.1em;
}
@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    html {
        font-size: 0.9em;
    }

    header {
        width:auto;
        position: absolute;
    }

    /*汎用*/
    .wrap{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
        margin-top:-8em;
        padding-top:8em;
    }

    .m-none{
        display: none;
    }

    .m-flex-col{
        flex-direction: column;
        align-items: center;
    }

    .m-2{
        margin: 0;
    }

    /*Accsess*/
    iframe{
        width:20em;
        height:15em; 
    }

}